{% extends "base.html" %}

{% block content %}
<style>
    .item{
        font-weight:bold;
        font-size: 1.5rem;
        text-align:center;
    }
    button{
        width:50%;
        margin:0 auto;
        padding: 0.5rem;
    }
    div{
        position:fixed;
        bottom:0;
        width: 100%;
        margin-bottom:2rem;
    }
    .logout{
        border: 1px groove dodgerblue;
        border-radius: 0.5rem;
    }
</style>
<center>
    <h3>Logged in successfully</h3>
    <h2>Here are the quizzes you can take: </h2>
    <br/>
</center>
{% for quiz in quizzes %}
    <p class = "item">
        <a href="{% url 'question-page' quiz.id %}"><button>{{ quiz.quiz_name }}</button></a>
        <br/>
    </p>
{% endfor %}
<div align="center">
    <a href="{% url 'logout' %}"><button class="logout">Logout</button></a>
</div>
{% endblock %}