{% extends "Base.html" %}

{% block content %}
<style>
    .item{
        font-weight:bold;
        font-size: 1.5rem;
        text-align:center;
    }
    button{
        width:50%;
        margin:0 auto;
    }
</style>
<center>
    <h3>Logged in successfully</h3>
    <h2>Here are the quizzes you can take: </h2>
</center>
{% for quiz in quizzes %}
    <p class = "item">
        <a href="{{ quiz.id }}/?this_user={{ quiz.Quiz_Name }}"><button>{{ quiz.Quiz_Name }}</button></a>
        <br/>
    </p>
{% endfor %}
{% endblock %}