{% extends "base.html" %}

{% block content %}
<style>
    .item{
        font-weight:bold;
        font-size: 1.5rem;
        text-align:center;
    }
    button{
        width:50%;
        margin:0 auto;
    }
</style>
<center>
    <h3>Logged in successfully</h3>
    <h2>Here are the quizzes you can take: </h2>
    <br/>
</center>
{% for quiz in quizzes %}
    <p class = "item">
        <a href="{% url 'question-page' quiz.id quiz.quiz_name %}"><button>{{ quiz.quiz_name }}</button></a>
        <br/>
    </p>
{% endfor %}
{% endblock %}