{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'styles.css' %}"/>
</head>
<center>
    <p style="background-color:red; font-weight:bolder">
        {% if msg %}
        {{ msg }}
        {% endif %}
    </p>
    <h3>Welcome to Login Page.</h3>
    <h4>Enter your credentials below</h4>
</center>
<form method="POST">    
    {% csrf_token %}
    <fieldset>
        <legend>Log In</legend>
        {{ form.as_table }}
        <button type="submit" class="btn btn-primary">Sign In</button>
        <br/>
        New User? <a href="\">Register here</a>
    </fieldset>
</form>