{% extends 'base.html'  %}

{% block content %}
<style>
    .default{
        display: inline;
        margin-left: 0;
        padding-left: 0;
    }
    label{
        display: block;
        padding-left: 0.5rem;
        border: 1px solid black;
    }
</style>
{% if error %}
    {{ error }}
    <p>Thanks for taking the quiz</p>
{% else %}
    <center><h3>You are playing the quiz : <i>{{ this_quiz }}</i></h3></center>
    {% if question %}
        <form method="POST">
            {% csrf_token %}
            {{ question }}
            {% if question.ques_type == "FIB" %}
                <input type="text" name="answer" placeholder="Answer here..." required>
                <br/>
            {% else %}
                <br/>
                {% for answer in answers %}
                <tr>
                    <label>
                        <td>
                            <input 
                                class="default" type="radio" value="{{ answer.solutions }}" 
                                id="{{ answer.solutions }}" name="choice" required
                            />
                        </td>
                        <td>{{ answer.solutions }}</td>
                    </label>
                    <br/>
                </tr>
                {% endfor %}
            {% endif %}
            <input type="Submit" value="Submit">
        </form>
    {% else %}
        <p>No questions to display!</p>
    {% endif %}
    <div align="center" id="displaytimer"><b>Timer: {% widthratio this_quiz.timer 1 60 %} seconds</b></div>
{% endif %}
<script>
        const timer = document.getElementById('displaytimer')
        t = {{ this_quiz.timer }} * 2
        var id = setInterval(timing, 1000)
        var timeup = false
        function timing(){
                t -= 1
                timer.innerHTML = "<b>Timer: " +t+" seconds</b>"
                if(t == 0){
                    timer.innerHTML = "<b>Time's Up!</b>"
                    timeup = true            
                    console.log(timeup)
                    clearInterval(id);
                    timeout()
                }
        }
        function timeout(){
            if (timeup){
                console.log(timeup)
                $.post(`/home/{{ this_quiz.id }}/{{ this_quiz.quiz_name }}/result`)
            }
        }
        
</script>
{% endblock %}