{% extends 'base.html' %}

{% block content %}
    <center>
        <h2>Results</h2>
        <h3><i>...Thanks for taking the Quiz...</i></h3>
    </center>
    <div class="container">
        <h4>Here is your scorecard:-</h4>
        <div class="report">
            <h5>
                Quiz Number :- {{ quiz_number }}<br/>
                Quiz Name :- {{ quiz_name }}
            </h5>
            <p>
                {% for question in questions %}
                    <p>Question:- {{ question }}</p>
                {% endfor %}
                {% for user_answer in user_answers %}
                    <span>Your Answer :-<span>
                    {% if user_answer.question.ques_type == "FIB" %}
                        <b>{{ user_answer.text }}</b>   
                    {% else %}
                        <b>{{ user_answer.choice.solutions }}</b>
                    {% endif %}
                    <br/>
                {% endfor %}
                {% for answer in answers %}
                    {% if answer.question.ques_type == "FIB" %}
                        <span>Correct Answer :-<span>
                        <b>{{ answer.solutions }}</b>
                        <br/>
                    {% else %}
                        {% if answer.is_correct %}
                            <span>Correct Answer :-<span>
                            <b>{{ answer.solutions }}</b>
                            <br/>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </p>
            <h3>Your Score is {{ user_score }} out of {{ total_score }}</h3>
        </div>
    </div>
    <footer>
        <small>Regards: Gaganraj</small>
    </footer>
{% endblock %}