{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'styles.css' %}"/>
</head>
<center>
    <h3>Welcome to Registration Page.</h3>
    <h4>Enter your details below</h4>
</center>
{% if error %}
<p>{{ error }}</p>
{% endif %}
<div class = "container">
    <form method="POST">
        <fieldset>
            <legend>Registration Form</legend>
            {% csrf_token %}
            {{ form.as_table }}
            <button type="submit" class="btn btn-primary">Register</button>
            <br/>
            Already a User? <a href="\Login">Log In here</a>
        </fieldset>
    </form>
</div>