{% extends "Base.html" %}
{% load crispy_forms_tags %} 

{% block content %}
<center>
    <h3>Welcome to Login Page.</h3>
</center>
<div class = "container">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Log In</legend>
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Log In</button>
            <br/>
            <small>
                Need an account? <a href="{% url 'register' %}">Sign Up</a>
            </small>
        </fieldset>
    </form>
</div>
{% endblock %}