{% extends "Base.html" %}
{% load crispy_forms_tags %} 


{% block content %}
<center>
    <h3>Welcome to Registration Page.</h3>
    <h4>Enter your details below</h4>
</center>
<div class = "container">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Registration Form</legend>
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Register</button>
            <br/>
            <small>
                Already a User? <a href="\Login">Log In here</a>
            </small>
        </fieldset>
    </form>
</div>
{% endblock %}