{% extends 'Base.html' %}

{% block content %}
    <style>
        #question-data{
            border: dodgerblue 1px groove;
            padding: 1rem;
            margin: auto;
            width: 50%;
            margin-top: 1rem;
            display: none;
        }
        #timer{
            text-align: center;
            margin-top: 2rem;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: xx-large;
        }
    </style>
    <center><h2 id="quiz-name"></h2></center>
    <div id="question-data">
        <form>
            <h5 id="question"></h5><span id="type"></span>
            <br/>
            <p id="solution">
            </p>
            <button type="submit" onclick="send(event)">Submit</button>
        </form>
    </div>
    <h3 id="timer"></h3>
    <script>
        question = document.getElementById("question")
        quiz_id = window.location.href.split("/")[5]
        url = `/api/quizzes/${quiz_id}/`
        fetch(url)
        .then(response => response.json())
        .then((data)=>{
            console.log(data)
            if("status" in data){
                alert(data.status)
                if(data["status"] == "Quiz Completed!" || data["status"] == "Time's UP!"){
                    window.location.replace("result/")
                }
                else{
                    window.location.replace("/api-quizzes/api-login/")
                }
            }
            else{
                timer = document.getElementById("timer")
                t = `${data["Time-Left"]}` 
                var id = setInterval(timing, 1000)
                function timing(){
                    t -= 1
                    timer.innerHTML = "<b>Timer: " +t+" seconds</b>"
                    if(t <= 0){
                        timer.innerHTML = "<b>Time's Up!</b>"
                        clearInterval(id);
                        location.reload()
                    }
                }
                document.getElementById("question-data").style.display = "block"
                question.innerHTML = data.Question.ques_text
                question.style.display = "inline"
                question.name = `${data.Question.id}`
                document.getElementById("type").innerHTML = `(${data.Question.ques_type})`
                document.getElementById("quiz-name").innerHTML = localStorage.getItem(quiz_id)
                p = document.getElementById("solution")
                if(data.Question.ques_type == "FIB"){
                    inp = document.createElement("input")
                    inp.type = "text"
                    inp.required = true
                    p.appendChild(inp)
                }
                else{
                    for(let option in data.Options){
                        inp = document.createElement("input")
                        inp.type = "radio"
                        inp.name = data.Question.id
                        inp.id = data.Options[option].id
                        label = document.createElement("label")
                        label.htmlFor = data.Options[option].id
                        label.innerHTML = data.Options[option].solutions
                        inp.required = true
                        p.appendChild(inp)
                        p.appendChild(label)
                        p.appendChild(document.createElement("br"))
                    }
                }
            }
        })
        function send(event){
            question = document.getElementById("question").name
            text = null
            choice = null
            event.preventDefault();
            ques_type = document.getElementById("type").innerHTML
            if(ques_type == "(FIB)"){
                text = document.getElementsByTagName("input")[0].value
            }
            else{
                choices = document.getElementsByTagName("input")
                for(let choice in choices){
                    console.log(choices[choice])
                    if(choices[choice].checked){
                        choice = choices[choice].id
                        break
                    }
                }
            }
            fetch(url, {
            method: "post",
            body: JSON.stringify({
                "question": question,
                "text": text,
                "choice": choice
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }})
            .then(response => response.json())
            .then((json) => {
                console.log(json)
            })
            location.reload()
        }
    </script>
{% endblock %}