{% extends 'Base.html' %}

{% block content %}
    <style>
        #logout{
            border-radius: 0.5rem;
            border: 1px dodgerblue groove;
            padding: 0.5rem;
            width: 25%;
            margin-top: 2rem;
            background-color: snow;
        }
    </style>
    <center>
        <div id="quiz-list">
        </div>
        <button id="logout" onclick="logout(event)">Log Out</button>
    </center>
    <script>
        window.addEventListener( "pageshow", function ( event ) {
            var historyTraversal = event.persisted || 
                                    ( typeof window.performance != "undefined" && 
                                        window.performance.navigation.type === 2 );
            if(historyTraversal){
                // Handle page restore.
                window.location.reload();
            }
        });
        logoutButton = document.getElementById("logout")
        logoutButton.style.display = "none"
        url = "/api/quizzes/"
        try{
            auth_token = document.cookie.split(";")[1].split("=")[1]
        }
        catch{
            auth_token = ""
        }
        fetch(url)
        .then(response => response.json())
        .then((data) => {
            h2 = document.createElement("h2")
            if("status" in data){
                alert(data.status)
                window.location.replace("/api-quizzes/api-login/")
            }
            else{
                h2.innerHTML = "Here are the available Quizzes"
                for(let i=0; i<data.length; i++){
                    b = document.createElement("button")
                    a = document.createElement("a")
                    a.href = `/api-quizzes/quiz/${data[i].id}/`
                    b.style.padding = "1rem"
                    a.name = data[i].quiz_name
                    localStorage.setItem(data[i].id, data[i].quiz_name)
                    a.id = i
                    document.getElementById("quiz-list").prepend(a)
                    b.innerHTML = data[i].quiz_name
                    b.style.width = "50%"
                    b.style.margin = "2rem"
                    document.getElementById(i).appendChild(b)
                }
                logoutButton.style.display = "block"
            }
            document.getElementById("quiz-list").prepend(h2)
        })
        function logout(event){
            event.preventDefault()
            fetch("/api/logout/")
            .then(response => response.json())
            .then((data) => {
                alert(data.status)
                window.location.replace("/api-quizzes/api-login/")
            })
        }
    </script>
{% endblock %}