{% extends 'Base.html' %}

{% block content %}
<div class="container" id="vparent">
    <h3>OTP Verification</h3>
    <form>
        <div class="form-group">
            <label for="otp">OTP</label>
            <input type="text" class="form-control" id="otp" aria-describedby="otpHelp" placeholder="Enter OTP" required>
        </div>
        <button type="submit" class="btn btn-primary" onclick="verify(event)">Verify</button>
        <small>Check your mail for the otp</small>
    </form><br/>
    <button type="submit" class="btn btn-primary resendotp" onclick="location.reload()">Resend OTP</button>
</div>
<script>
    url = "/api/verification/"
    function verify(event){
        event.preventDefault()
        user_otp = document.getElementById("otp").value
        console.log(user_otp)
        fetch(url, {
            method: "post",
            body: JSON.stringify({
                otp: user_otp
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }})
        .then(response => response.json())
        .then((json) => {
            alert(json.status)
            if(json.status == "Successfully Verified!"){
                window.location.replace("http://127.0.0.1:8000/api-quizzes/quiz/")
            }
            else{
                window.location.replace("/api-quizzes/api-login/")
            }
        })
    }
    window.addEventListener('load', function () {
        fetch(url)
        .then(response => response.json())
        .then((data) => {
            if(data.status == "Cannot Authorize"){
                document.write("Cannot authorize. Please check if you have provided the credentials")
            }
            else if(data.status == "Mail Sent"){
                alert("Mail Sent")
            }
            else if (data.status == "Verified"){
                window.location.replace("http://127.0.0.1:8000/api-quizzes/quiz/")
            }
        })
    })
</script>
{% endblock %}